.container{
    .row{
        .col-md-3{
            .navbar{
                .nav{
                    .nav-item{
                        padding-left: 14px;
                        a{
                            padding: 15px 25px;
                            color: $white;
                            width: 220px;
                            font-size: 13px;
                            background-color: $red;
                            text-transform: uppercase;
                            font-weight: 500;
                            .fas{
                                padding-right: 10px;
                                font-size: 16px;
                            }
                        }
                        .dropdown-menu{
                            border-radius: 0;
                            a{
                                color: $black;
                                font-size: 13px;
                                background-color: $white;
                                margin: 0;
                                padding: 0;
                                border-bottom: 2px solid $top_back;
                                padding: 10px 0;
                                width: 200px;
                                text-transform: capitalize;
                                z-index: 9999;
                                &:hover{
                                    color: $orange;
                                }
                                .fas{
                                    padding-right: 10px;
                                    font-size: 15px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .col-md-6{
            .inpt{
                position: relative;
                input[type=text]{
                    border: none;
                    outline: none;
                    border: 1px solid $light-grey-2;
                    padding: 8px;
                    height:40px;
                    width: 100%;
                    font-size: 13px;
                }
            }
            button{
                position: absolute;
                right:9px;
                bottom: 8px;
                background-color: $orange;
                color: $white;
                outline: none;
                border: none;
                border-radius:0;
                height: 40px;
                width: 120px;
                letter-spacing: 2px;
                text-transform: uppercase;
                font-size: 14px;
            }
        }
        .col-md-3{
            span{
                color: $nav-color;
                font-size: 15px;
                padding: 0 10px;
            }
            .fas,.far{
                margin-left: 6px;
                cursor: pointer;
                font-size: 20px;
            }
        }
    }
}
@media only screen and (max-width:375px){
    .container{
        .row{
            .col-md-3{
                .navbar{
                    .nav{
                        .nav-item{
                            a{
                                width: 350px; 
                            }
                        }
                    }
                }
            }
            .col-md-3{
                text-align: center;
            }
        }
    }
}