.container{
    .row{
        .col-md-12{
            position: relative;
            .elect{
                h4{
                    font-size:18px ;
                    font-weight: 500;
                    color: $grey-hed;
                    padding-bottom: 10px;
                    border-bottom: 1px solid $light-grey-2;
                    position: relative;
                }
                :after{
                    @include after;
                }
            }
            .nav{
                position: absolute;
                top: 0%;
                right: 70px;
                padding: 10px;
                .nav-item{
                    a{
                        color: $nav-grey;
                        font-size:16px;
                    }
                    .active{
                        color: $black-light;
                        font-weight: 500;
                    }
                }
            }
            .tab-content{
                .tab-pane{
                    .owl-carousel-3{
                        padding:20px 0;
                        .crd-back{
                            border: 1px solid $light-grey-2;
                            .crd-main{
                                position: relative;
                                height: 420px;
                                &:hover{
                                    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                                }
                                &:hover .btn-1{
                                    visibility: visible;
                                    opacity: 1;
                                    transition: all 0.4s linear;
                                    bottom: 100px;
                                }
                                &:hover .btn-3{
                                    visibility: visible;
                                    opacity: 1;
                                }
                                img{
                                    padding: 20px;
                                }
                                .crd-content{
                                    position: absolute;
                                    top: 10px;
                                    left: 20px;
                                    h5{
                                        text-transform: uppercase;
                                        font-size:12px;
                                        color: $header_color;
                                    }
                                    p{
                                        font-size:15px;
                                        width: 230px;
                                        font-weight: 500;
                                        color: $grey-black;
                                        cursor: pointer;
                                        &:hover{
                                            color: $orange;
                                        }
                                    }
                                }
                                .hr-1{
                                    width: 80%;
                                    margin: 0 auto;
                                }
                                .crd-price{
                                    display: flex;
                                    justify-content: space-between;
                                    padding: 10px;
                                    span{
                                        color: $orange;
                                        font-weight: 500;
                                        .far{
                                            font-size:12px;
                                        }
                                    }
                                }
                                .btn-1{
                                    position: absolute;
                                    bottom: 35%;
                                    left: 10%;
                                    visibility: hidden;
                                    opacity: 0;
                                    button{
                                        @include button;
                                        background-color: $light-gray-3;
                                        color: $black;
                                        font-size:15px;
                                        text-transform: uppercase;
                                        font-weight: 500;
                                        width: 215px;
                                        &:hover{
                                            background-color:$light-grey;
                                            color: $white;
                                        }
                                    }
                                }
                                .btn-3{
                                    visibility: hidden;
                                    opacity: 0;
                                    .but-1{
                                        @include button;
                                        width: 140px;
                                        background-color: $red;
                                        color: $white;
                                        border-radius: 20px;
                                        &:hover{
                                            background-color: $dark_red;
                                            color: $white;
                                        }
                                    }
                                    .but-2{
                                        @include button;
                                        margin-left: 3px;
                                        border: 1px solid $smoke;
                                        border-radius: 50px;
                                        width: 40px;
                                        height: 40px;
                                        &:hover{
                                            background-color: $red;
                                            color: $white;
                                        }
                                        &:hover .far{
                                            background-color: $red;
                                            color: $white;
                                        }
                                        .far{
                                            transform: translate(-5px);
                                            font-size:16px;
                                            color: $red;
                                        }
                                    }
                                }
                            }
                        }
                        .owl-nav{
                            .owl-prev{
                                position: absolute;
                                right: 40px;
                                top: -9%;
                                font-size:20px;
                                padding: 0 20px;
                                width: 20px;
                                background-color: $light-gray-3;
                            }
                            .owl-next{
                                position: absolute;
                                right: 10px;
                                top: -9%;
                                font-size:20px;
                                padding: 0 20px;
                                width: 20px;
                                background-color: $light-gray-3;
                            }
                        }
                    }
                }
                .tab-pane{
                    .product{
                        .product-main{
                            img{
                                width: 100%;
                                object-fit: cover;
                            }
                            .prod-text{
                                padding:0 25px;
                            h4{
                                font-size:18px;
                                color: $title;
                            }
                            del{
                                font-size:14px;
                            }
                        }
                        }
                    }
                }
            }
        }
    }
}