$header_color:#4c4c4c;
$orange:#E23E1D;
$top_back:#f5f5f5;
$nav-color:#222222;
$white:#ffffff;
$black:#000000;
$light-grey:#888;
$dark:#212529;
$red:#E23E1D;
$light-grey-2:#ebebeb;
$black-light:#191919;
$golden:#fac451;
$foot:#f0f2f9;
$light-gray-3:#eeeeee;
$grey-black:#252525;
$dark_red:#b53217;
$smoke:#e6e6e6;
$grey-hed:#252525;
$del:#b7b7b7;
$nav-grey:#777777;
$title:#272727;
$small:#999999;